# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/Projekt/Embedded_Sensor_Cloud/nbproject/private/
/Projekt/Embedded_Sensor_Cloud/dist/
Projekt/Embedded_Sensor_Cloud/files/nav/austria-latest.osm
