# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/Projekt/Embedded_Sensor_Cloud/dist/
/SWE1_embedded_sensor_cloud/dist/